In [2]:
#Importing useful packages
import sqlite3
import csv
import pandas as pd
from datetime import datetime

In [4]:
#Creating the database and a table for each month, then populating each table with the corresponding data
months = ["january","february","march","april","may","june","july","august","september","october","november","december"]
conn = sqlite3.connect(r'E:\Summer Project\yellow_taxi_2014.sqlite')
c = conn.cursor()
for num, month in enumerate(months,start=1):
    #    Create table
    c.execute("CREATE TABLE "+ str(month)+"(vendor_id text, pickup_datetime text, dropoff_datetime text,"+
              "passenger_count integer, trip_distance real, pickup_longitude real,"+
              "pickup_latitude real, rate_code integer, store_and_fwd_flag text,"+
              "dropoff_longitude real, dropoff_latitude real, payment_type text,"+
              "fare_amount real, surcharge real, mta_tax real,tip_amount real,"+
              "tolls_amount real,total_amount real)")
    count=0
    with open(r'E:\Summer Project\Data\Taxi\yellow_tripdata_2013-'+str(num).zfill(2)+'.csv', "r") as f:
        reader = csv.reader(f)
 
        header = True
        for row in reader:
            if count<2:
                count+=1
            elif len(row)!= 18:
                pass
            else:
                c.execute("INSERT INTO "+str(month)+" VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",(str(row[0]),str(row[1]),
                                                                                             str(row[2]),str(row[3]),str(row[4]),
                                                                                             str(row[5]),str(row[6]),str(row[7]),
                                                                                            str(row[8]),str(row[9]),str(row[10]),
                                                                                             str(row[11]),str(row[12]),str(row[13]),
                                                                                            str(row[14]),str(row[15]),str(row[16]),
                                                                                             str(row[17])))
                
# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [104]:
#Reading in a time column
conn = sqlite3.connect(r'E:\Summer Project\yellow_taxi_2013.sqlite')
c = conn.cursor()
dates = pd.read_sql_query('select pickup_datetime from january', conn)

None
None

In [98]:
#Indexing the time column to select a time
test = dates.ix[0,0]
print(test)

2013-01-01 15:11:48

In [102]:
#Converting sql text to python datetime object
row = datetime.strptime(test, '%Y-%m-%d %H:%M:%S')

print("year: "+str(row.year)+ " day: "+str(row.day)+" hour: "+str(row.hour)+" minute: "+str(row.minute))

year: 2013 day: 1 hour: 15 minute: 11

In [4]:
#Printing out first 10 rows of data from each table to see if the database was created correctly
months = ["january","february","march","april","may","june","july","august","september","november","december"]
conn = sqlite3.connect(r'E:\Summer Project\yellow_taxi_2013.sqlite')
c = conn.cursor()
for month in months:
    rows = pd.read_sql_query('select * from '+str(month)+' order by random() limit 10', conn)
    print(rows)

  vendor_id      pickup_datetime     dropoff_datetime  passenger_count  \
0       VTS  2013-01-07 09:06:00  2013-01-07 09:13:00                1
1       CMT  2013-01-25 07:49:29  2013-01-25 07:54:20                1
2       CMT  2013-01-27 12:20:15  2013-01-27 12:29:35                3
3       CMT  2013-01-27 09:02:02  2013-01-27 09:09:15                1
4       CMT  2013-01-22 21:06:15  2013-01-22 21:11:03                1
5       CMT  2013-01-04 19:29:41  2013-01-04 19:37:25                1
6       CMT  2013-01-30 21:03:35  2013-01-30 21:18:41                1
7       CMT  2013-01-18 10:04:54  2013-01-18 10:09:12                2
8       CMT  2013-01-26 11:44:41  2013-01-26 12:13:02                1
9       CMT  2013-01-14 14:22:33  2013-01-14 14:30:05                1

   trip_distance  pickup_longitude  pickup_latitude  rate_code  \
0           1.51        -73.991852        40.726142          1
1           0.80        -73.987090        40.733838          1
2           2.20        -73.978141        40.756297          1
3           1.80        -74.015268        40.715641          1
4           1.20        -73.948708        40.782467          1
5           1.20        -74.006247        40.723325          1
6           3.80        -73.975484        40.760430          1
7           0.70        -74.002461        40.739646          1
8           8.60        -73.870903        40.773761          1
9           1.60        -73.973281        40.763954          1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude payment_type  \
0                            -73.981455         40.744010          CSH
1                  N         -73.994336         40.740937          CSH
2                  N         -73.986930         40.729611          CRD
3                  N         -73.994736         40.725953          CRD
4                  N         -73.960367         40.771419          CSH
5                  N         -73.993147         40.731026          CRD
6                  N         -74.010513         40.723638          CRD
7                  N         -73.990761         40.734808          CRD
8                  N         -73.980327         40.744286          CSH
9                  N         -73.956838         40.777968          CRD

   fare_amount  surcharge  mta_tax  tip_amount  tolls_amount  total_amount
0          7.5        0.0      0.5        0.00           0.0          8.00
1          5.5        0.0      0.5        0.00           0.0          6.00
2          9.5        0.0      0.5        1.00           0.0         11.00
3          8.5        0.0      0.5        1.00           0.0         10.00
4          6.0        0.5      0.5        0.00           0.0          7.00
5          7.5        1.0      0.5        1.50           0.0         10.50
6         14.0        0.5      0.5        3.75           0.0         18.75
7          5.0        0.0      0.5        1.10           0.0          6.60
8         29.5        0.0      0.5        0.00           4.8         34.80
9          8.0        0.0      0.5        1.70           0.0         10.20

KeyboardInterrupt:

In [22]:
def get_sample(year,month,number):
    conn = sqlite3.connect(r'E:\Summer Project\yellow_taxi_'+str(year)+'.sqlite')
    c = conn.cursor()
    
    sample = pd.read_sql_query('select * from '+str(month)+' where rowid = (abs(random()) % (select (select max(rowid) from january)+1))',conn)
    for i in range(number):
        #row = pd.read_sql_query('select * from january where rowid = (abs(random()) % (select (select max(rowid) from january)+1))',conn)
        sample = sample.append(pd.read_sql_query('select rowid, * from '+str(month)+' where rowid = (abs(random()) % (select (select max(rowid) from january)+1))',conn))#row,ignore_index=True)
        
    return sample

In [23]:
x = get_sample(2013,"january",16)
print(x)

      dropoff_datetime  dropoff_latitude  dropoff_longitude  fare_amount  \
0  2013-01-29 16:02:22         40.757926         -73.989003          4.0
0  2013-01-07 19:12:00         40.707763         -74.013957         26.5
0  2013-01-22 08:38:00         40.752672         -73.985782          8.0
0  2013-01-28 20:09:00         40.758232         -73.982210          6.5
0  2013-01-04 16:55:18         40.783727         -73.977820          4.0
0  2013-01-23 10:13:24         40.758592         -73.974672         13.5
0  2013-01-27 13:55:18         40.724456         -73.993499         17.5
0  2013-01-11 06:54:19         40.754730         -73.978510          6.5
0  2013-01-01 12:40:00         40.779705         -73.953832          7.0
0  2013-01-19 19:22:00         40.758257         -73.964345          6.5
0  2013-01-06 17:42:22         40.803219         -73.956310          6.5
0  2013-01-19 00:46:21         40.753295         -73.969697         10.5
0  2013-01-06 00:45:12         40.735935         -73.999720          3.5
0  2013-01-30 00:26:27         40.774521         -73.956970         12.5
0  2013-01-05 08:40:52         40.762655         -73.994796         14.0
0  2013-01-23 18:40:00         40.737052         -73.992870         13.0
0  2013-01-04 05:22:00         40.667883         -73.792030         51.0

   mta_tax  passenger_count payment_type      pickup_datetime  \
0      0.5                1          CSH  2013-01-29 15:59:27
0      0.5                1          CRD  2013-01-07 18:44:00
0      0.5                1          CRD  2013-01-22 08:28:00
0      0.5                2          CSH  2013-01-28 20:02:00
0      0.5                1          CSH  2013-01-04 16:52:54
0      0.5                1          CSH  2013-01-23 09:52:51
0      0.5                2          CRD  2013-01-27 13:34:33
0      0.5                1          CRD  2013-01-11 06:47:30
0      0.5                2          CRD  2013-01-01 12:36:00
0      0.5                2          CRD  2013-01-19 19:14:00
0      0.5                1          CSH  2013-01-06 17:35:41
0      0.5                1          CRD  2013-01-19 00:35:48
0      0.5                1          CSH  2013-01-06 00:43:20
0      0.5                1          CRD  2013-01-30 00:15:12
0      0.5                1          CRD  2013-01-05 08:32:02
0      0.5                2          CSH  2013-01-23 18:22:00
0      0.5                2          CSH  2013-01-04 04:49:00

   pickup_latitude  pickup_longitude  rate_code       rowid  \
0        40.753058        -73.992903          1         NaN
0        40.768817        -73.952417          1  12190277.0
0        40.782597        -73.955445          1   9315598.0
0        40.763592        -73.972895          1   9963528.0
0        40.776307        -73.982383          1  14641010.0
0        40.765396        -73.954907          1  14307682.0
0        40.769405        -73.995779          1  14124080.0
0        40.761822        -73.993457          1   3476704.0
0        40.758207        -73.967997          1   1009938.0
0        40.765817        -73.969078          1   5467734.0
0        40.818332        -73.958473          1   6449549.0
0        40.732358        -74.000402          1   2277669.0
0        40.731561        -74.001066          1  14709309.0
0        40.737843        -73.987925          1  11034937.0
0        40.804524        -73.966517          1   2779816.0
0        40.764712        -73.983635          1   7979119.0
0        40.824557        -73.951842          1   1570841.0

  store_and_fwd_flag  surcharge  tip_amount  tolls_amount  total_amount  \
0                  N        0.0         0.0           0.0           4.5
0                           1.0         5.5           0.0          33.5
0                           0.0         1.6           0.0          10.1
0                           0.5         0.0           0.0           7.5
0                  N        1.0         0.0           0.0           5.5
0                  N        0.0         0.0           0.0          14.0
0                  N        0.0         3.6           0.0          21.6
0                  N        0.0         2.0           0.0           9.0
0                           0.0         1.4           0.0           8.9
0                           0.0         1.3           0.0           8.3
0                  N        0.0         0.0           0.0           7.0
0                  N        0.5         1.0           0.0          12.5
0                  N        0.5         0.0           0.0           4.5
0                  N        0.5         1.5           0.0          15.0
0                  N        0.0         2.9           0.0          17.4
0                           1.0         0.0           0.0          14.5
0                           0.5         0.0           4.8          56.8

   trip_distance vendor_id
0           0.30       CMT
0           7.61       VTS
0           1.13       VTS
0           0.94       VTS
0           0.50       CMT
0           1.50       CMT
0           4.00       CMT
0           1.00       CMT
0           1.86       VTS
0           1.00       VTS
0           1.20       CMT
0           2.70       CMT
0           0.40       CMT
0           3.20       CMT
0           4.00       CMT
0           2.38       VTS
0          18.31       VTS