In [21]:
#Importing useful packages
import sqlite3
import csv
import pandas as pd
from datetime import datetime

#Returns a Dataframe containing a sample of size "number" from the specified month and year
def get_sample(year,month,number):
    #Error Checking
    if number < 0:
        print("Bad Number Value\n")
        return
    if year < 2012 | year > 2014:
        print("Bad year value\n")
        return
    
    #Change to directory of your database!
    conn = sqlite3.connect(r'E:\Summer Project\yellow_taxi_'+str(year)+'.sqlite')
    c = conn.cursor()
    #For small samples (less than 10000) adding them this way is fastest
    if number<10000:
        sample = pd.read_sql_query('select * from '+str(month)+
                                   ' where rowid = (abs(random()) % (select (select max(rowid) from '+str(month)+')+1))',conn)
        for i in range(number-1):
            sample = sample.append(pd.read_sql_query('select * from '+str(month)+
                                                     ' where rowid = (abs(random()) % (select (select max(rowid) from '+str(month)+')+1))',conn))#row,ignore_index=True)
    else:
        #This is the fastest way to get a random sample for large entries
        sample = pd.read_sql_query('select * from '+str(month)+' order by random() limit '+str(number),conn)
    
    #Turns the dropoff_datetime column into an array of time values
    tmpdate = sample['dropoff_datetime'].get_values()
    pickuptmp = sample['pickup_datetime'].get_values()
    
    #Initiliazing three arrays that will be our new columns in our sample
    dropoff_hour = [0]*(number)
    dropoff_day = [0]*(number)
    day_of_week = [0]*(number)
    time_in_taxi = [0]*(number)
    
        
    #Loop that will strip the time from every entry in tmpdate and assign it to the right column
    for i in range(number):
        tmp = datetime.strptime(tmpdate[i], '%Y-%m-%d %H:%M:%S')
        tmp2 = datetime.strptime(pickuptmp[i],'%Y-%m-%d %H:%M:%S')
        #print("Times:" +str(tmp)+" - "+ str(tmp2))
        #print(tmp-tmp2)
        dropoff_hour[i] = tmp.hour
        dropoff_day[i] = tmp.day
        day_of_week[i] = tmp.weekday()
        tmp3 = tmp-tmp2
        time_in_taxi[i] = (tmp3.seconds//60)# + tmp3.hour*60 
    
    #Creating the new columns for our sample
    sample['dropoff_hour'] = dropoff_hour
    sample['dropoff_day'] = dropoff_day
    sample['weekday'] = day_of_week
    sample['time_in_taxi'] = time_in_taxi
    
    #Returning the sample
    return sample

In [33]:
#Example of get_sample
x = get_sample(2013,"january",20)
print(x)
#This will print out the sample to a csv file so it can be loaded into JMP or other software
x.to_csv('test_sample3.csv')

  vendor_id      pickup_datetime     dropoff_datetime  passenger_count  \
0       CMT  2013-01-11 05:08:09  2013-01-11 05:09:03                1
0       CMT  2013-01-14 07:29:01  2013-01-14 07:40:21                1
0       VTS  2013-01-27 12:13:00  2013-01-27 12:20:00                4
0       CMT  2013-01-15 08:42:03  2013-01-15 08:42:06                1
0       CMT  2013-01-09 05:37:33  2013-01-09 05:42:41                1
0       VTS  2013-01-29 11:26:00  2013-01-29 11:34:00                5
0       CMT  2013-01-08 01:20:50  2013-01-08 01:30:21                1
0       VTS  2013-01-18 18:02:00  2013-01-18 18:32:00                1
0       VTS  2013-01-21 06:52:00  2013-01-21 06:56:00                1
0       VTS  2013-01-05 04:17:00  2013-01-05 04:48:00                1
0       CMT  2013-01-19 01:21:18  2013-01-19 01:28:09                1
0       CMT  2013-01-15 09:34:49  2013-01-15 09:47:43                1
0       CMT  2013-01-18 22:13:55  2013-01-18 22:38:47                1
0       VTS  2013-01-09 10:33:00  2013-01-09 11:34:00                6
0       CMT  2013-01-05 13:33:00  2013-01-05 13:43:31                1
0       VTS  2013-01-25 11:47:00  2013-01-25 11:53:00                1
0       VTS  2013-01-06 15:19:00  2013-01-06 15:25:00                1
0       CMT  2013-01-07 20:57:48  2013-01-07 21:22:49                1
0       CMT  2013-01-05 14:31:14  2013-01-05 14:42:39                2
0       CMT  2013-01-31 08:36:54  2013-01-31 08:53:02                1

   trip_distance  pickup_longitude  pickup_latitude  rate_code  \
0           0.20        -73.971085        40.759411          1
0           3.60        -74.008289        40.721812          1
0           1.57        -73.974297        40.756382          1
0           0.00          0.000000         0.000000          1
0           2.10        -73.994230        40.746167          1
0           0.69        -73.955802        40.764107          1
0           2.70        -73.959367        40.653225          1
0           3.00        -74.016025        40.711267          1
0           0.77        -73.986620        40.734102          1
0          10.39        -73.962725        40.799112          1
0           2.10        -74.005337        40.728595          1
0           1.20        -73.989864        40.766997          1
0           6.70        -73.986848        40.755884          1
0          28.09        -74.002610        40.739927          3
0           2.10        -73.991009        40.765874          1
0           1.31        -73.969290        40.766462          1
0           1.09        -74.000697        40.758320          1
0          11.50        -73.986835        40.756937          1
0           2.90        -73.991620        40.744578          1
0           2.30        -73.985456        40.735733          1

  store_and_fwd_flag  dropoff_longitude      ...       fare_amount surcharge  \
0                  N         -73.968112      ...               3.0       0.5
0                  N         -73.979966      ...              12.5       0.0
0                            -73.990655      ...               7.5       0.0
0                  N           0.000000      ...               2.5       0.0
0                  N         -73.981314      ...               8.0       0.5
0                            -73.964162      ...               6.5       0.0
0                  N         -73.972756      ...              11.0       0.5
0                            -73.997732      ...              19.5       1.0
0                            -73.994012      ...               5.0       0.0
0                            -73.945082      ...              34.0       0.5
0                  N         -74.003834      ...               8.5       0.5
0                  N         -73.998864      ...               9.0       0.0
0                  N         -73.966276      ...              23.0       0.5
0                            -74.003975      ...              98.0       0.0
0                  N         -74.002526      ...              10.0       0.0
0                            -73.958017      ...               7.0       0.0
0                            -73.989580      ...               6.5       0.0
0                  N         -74.012371      ...              34.5       0.5
0                  N         -73.979737      ...              11.5       0.0
0                  N         -73.978181      ...              12.5       0.0

   mta_tax  tip_amount  tolls_amount  total_amount  dropoff_hour  dropoff_day  \
0      0.5         0.8          0.00          4.80             5           11
0      0.5         1.0          0.00         14.00             7           14
0      0.5         0.0          0.00          8.00            12           27
0      0.5         0.0          0.00          3.00             8           15
0      0.5         1.8          0.00         10.80             5            9
0      0.5         0.0          0.00          7.00            11           29
0      0.5         0.0          0.00         12.00             1            8
0      0.5         4.1          0.00         25.10            18           18
0      0.5         2.0          0.00          7.50             6           21
0      0.5         6.9          0.00         41.90             4            5
0      0.5         0.0          0.00          9.50             1           19
0      0.5         0.0          0.00          9.50             9           15
0      0.5         4.8          0.00         28.80            22           18
0      0.0        10.0         10.25        118.25            11            9
0      0.5         1.0          0.00         11.50            13            5
0      0.5         0.0          0.00          7.50            11           25
0      0.5         0.0          0.00          7.00            15            6
0      0.5         6.0          4.80         46.30            21            7
0      0.5         2.4          0.00         14.40            14            5
0      0.5         2.4          0.00         15.40             8           31

   weekday  time_in_taxi
0        4             0
0        0            11
0        6             7
0        1             0
0        2             5
0        1             8
0        1             9
0        4            30
0        0             4
0        5            31
0        5             6
0        1            12
0        4            24
0        2            61
0        5            10
0        4             6
0        6             6
0        0            25
0        5            11
0        3            16

[20 rows x 22 columns]