In [101]:
import sqlite3
import csv
import pandas as pd
from datetime import datetime

In [49]:
conn = sqlite3.connect(r'E:\Summer Project\taxi2013.sqlite')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE january
             (vendor_id text, pickup_datetime text, dropoff_datetime text,
             passenger_count integer, trip_distance real, pickup_longitude real,
              pickup_latitude real, rate_code integer, store_and_fwd_flag text,
              dropoff_longitude real, dropoff_latitude real, payment_type text,
              fare_amount real, surcharge real, mta_tax real,tip_amount real,
               tolls_amount real,total_amount real)''')

# Insert a row of data
#c.execute("INSERT INTO stocks VALUES ('2008-01-05','BUY','RHAT',100,35.14)")
#print(c.fetchone())

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [70]:
conn = sqlite3.connect(r'E:\Summer Project\taxi2013.sqlite')
c = conn.cursor()
table = "january"
count=0
with open(r'E:\Summer Project\Data\Taxi\yellow_tripdata_2013-01.csv', "r") as f:
        reader = csv.reader(f)
 
        header = True
        for row in reader:
            if count<2:
                count+=1
            else:
                #sql = "INSERT INTO pickups ("
                #values = ""
                #for i in range(len(row)):
                #    if i != len(row)-1:
                #        values+=str(row[i])+", "
                #    else:
                #        values+=str(row[i])
                #insertsql = "INSERT INTO %s VALUES (%s)" % ("january",values)
                            #", ".join([str(row[0]),str(row[1])]))
                #print(insertsql)
                #c.execute(insertsql)
                c.execute("INSERT INTO january VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", (str(row[0]),str(row[1]),
                                                                                             str(row[2]),
                                                                                               str(row[3]),str(row[4]),
                                                                                             str(row[5]),
                                                                                               str(row[6]),str(row[7]),
                                                                                            str(row[8]),
                                                                                               str(row[9]),str(row[10]),
                                                                                             str(row[11]),
                                                                                               str(row[12]),str(row[13]),
                                                                                            str(row[14]),
                                                                                               str(row[15]),str(row[16]),
                                                                                             str(row[17])))#insertsql)
        conn.commit()
        conn.close()

In [15]:
sqlite_file = 'E:\Summer Project\my_first_db.sqlite'    # name of the sqlite database file
table_name1 = 'my_table_1'  # name of the table to be created
table_name2 = 'my_table_2'  # name of the table to be created
new_field = 'my_1st_column' # name of the column
field_type = 'INTEGER'  # column data type

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Creating a new SQLite table with 1 column
c.execute('CREATE TABLE {tn} ({nf} {ft})'\
        .format(tn=table_name1, nf=new_field, ft=field_type))

# Creating a second table with 1 column and set it as PRIMARY KEY
# note that PRIMARY KEY column must consist of unique values!
c.execute('CREATE TABLE {tn} ({nf} {ft} PRIMARY KEY)'\
        .format(tn=table_name2, nf=new_field, ft=field_type))

# Committing changes and closing the connection to the database file
conn.commit()
conn.close()

In [88]:
conn = sqlite3.connect(r'E:\Summer Project\taxi2013.sqlite')
c = conn.cursor()

In [104]:
dates = pd.read_sql_query('select pickup_datetime from january', conn)

None
None

In [98]:
test = dates.ix[0,0]
print(test)

2013-01-01 15:11:48

In [102]:
row = datetime.strptime(test, '%Y-%m-%d %H:%M:%S')

print("year: "+str(row.year)+ " day: "+str(row.day)+" hour: "+str(row.hour)+" minute: "+str(row.minute))

year: 2013 day: 1 hour: 15 minute: 11

In [106]:
rows = pd.read_sql_query('select * from january limit 10', conn)

print(rows)

  vendor_id      pickup_datetime     dropoff_datetime  passenger_count  \
0       CMT  2013-01-01 15:11:48  2013-01-01 15:18:10                4
1       CMT  2013-01-06 00:18:35  2013-01-06 00:22:54                1
2       CMT  2013-01-05 18:49:41  2013-01-05 18:54:23                1
3       CMT  2013-01-07 23:54:15  2013-01-07 23:58:20                2
4       CMT  2013-01-07 23:25:03  2013-01-07 23:34:24                1
5       CMT  2013-01-07 15:27:48  2013-01-07 15:38:37                1
6       CMT  2013-01-08 11:01:15  2013-01-08 11:08:14                1
7       CMT  2013-01-07 12:39:18  2013-01-07 13:10:56                3
8       CMT  2013-01-07 18:15:47  2013-01-07 18:20:47                1
9       CMT  2013-01-07 15:33:28  2013-01-07 15:49:26                2

   trip_distance  pickup_longitude  pickup_latitude  rate_code  \
0            1.0        -73.978165        40.757977          1
1            1.5        -74.006680        40.731781          1
2            1.1        -74.004711        40.737770          1
3            0.7        -73.974600        40.759945          1
4            2.1        -73.976252        40.748528          1
5            1.7        -73.966743        40.764252          1
6            0.8        -73.995801        40.743978          1
7           10.7        -73.989937        40.756773          1
8            0.8        -73.980071        40.743138          1
9            2.5        -73.977937        40.786983          1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude payment_type  \
0                  N         -73.989840         40.751173          CSH
1                  N         -73.994499         40.750659          CSH
2                  N         -74.009831         40.726000          CSH
3                  N         -73.984737         40.759388          CSH
4                  N         -74.002583         40.747867          CSH
5                  N         -73.983322         40.743762          CSH
6                  N         -74.007418         40.744344          CSH
7                  N         -73.865248         40.770630          CSH
8                  N         -73.982710         40.735337          CSH
9                  N         -73.952919         40.806368          CSH

   fare_amount  surcharge  mta_tax  tip_amount  tolls_amount  total_amount
0          6.5        0.0      0.5         0.0           0.0           7.0
1          6.0        0.5      0.5         0.0           0.0           7.0
2          5.5        1.0      0.5         0.0           0.0           7.0
3          5.0        0.5      0.5         0.0           0.0           6.0
4          9.5        0.5      0.5         0.0           0.0          10.5
5          9.5        0.0      0.5         0.0           0.0          10.0
6          6.0        0.0      0.5         0.0           0.0           6.5
7         34.0        0.0      0.5         0.0           4.8          39.3
8          5.5        1.0      0.5         0.0           0.0           7.0
9         13.0        0.0      0.5         0.0           0.0          13.5